.App {
  text-align: center;
  padding: 16px;
}

a {
  color: #cd5334;
  text-decoration: none;
}

.main {
  min-height: 84vh;
  overflow-x: hidden;
}

.toast div[aria-describedby="message-id"] {
  background: #17bebb;
  color: black;
}

footer {
  padding: 16px;
}
